body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: teal;
}

#board{
    background-color: black;
    color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 5px solid black;
    height:475px ;
    width: 490px;
}
  .sqr {
    background-color: antiquewhite;
    width: 160px;
    height: 155px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
  }
.playerO {
    color: darkblue;
    font-size: 50px;
}
.playerX {
    color: blueviolet;
    font-size: 50px;
}