body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: teal;
}

#board{
    background-color: black;
    color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 5px solid black;
    height:475px ;
    width: 490px;
}
  .sqr {
    background-color: antiquewhite;
    color: black;
    font-size: 100px;
    width: 160px;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
  }
  #resetButton {
    height: 30px;
    width: 60px;
    background-color: black;
    color: darkcyan;
    font-size: 16px;
  }